
 @font-face {
  font-family: 'montserrat';
  font-weight: 700;
  color: hsla(0, 0%, 100%, 1);
  src: url(./assets/fonts/static/Montserrat-Bold.ttf);
 }

 @font-face {
  font-family: 'montserrat';
  font-weight: 600;
  color: hsla(0, 0%, 100%, 1);
  src: url(./assets/fonts/static/Montserrat-SemiBold.ttf);
 }

 @font-face {
  font-family: 'montserrat';
  font-weight: 400;
  color: hsla(0, 0%, 100%, 1);
  src: url(./assets/fonts/static/Montserrat-Regular.ttf);
 }

 :root {
  --white: hsla(0, 0%, 86%, 1);
  --violet: hsla(268, 64%, 41%, 1);
  --yellow: hsla(28, 87%, 62%, 1);
  --glass: hsla(0, 0%, 100%, 0.04);
  --green-light: hsla(175, 100%, 72%, 1);
  --green: hsla(145, 63%, 42%, 1);
  --dark: hsla(215, 28%, 20%, 1);
  --red: hsla(359, 97%, 64%, 1);
  --blue: hsla(210, 93%, 57%, 1);
  --zalivka: hsla(225, 68%, 11%, 0.6);
  --white-font: hsla(0, 0%, 100%, 1);
  --grad-1:hsla(210, 93%, 57%, 1);
  --grad-2:hsla(184, 95%, 41%, 1);
  --grad-3:hsla(210, 97%, 50%, 1);
  --grad-4:hsla(184, 100%, 53%, 1);

  /* --linear-gradient__1: (hsla(210, 93%, 57%, 1), hsla(184, 95%, 41%, 1));
  --linear-gradient__2: (hsla(256, 93%, 57%, 1), hsla(184, 95%, 41%, 1));
  --linear-gradient__3: (hsla(210, 93%, 57%, 1), hsla(219, 100%, 79%, 1));
  --linear-gradient__4: (hsla(272, 84%, 42%, 1), hsla(256, 53%, 62%, 1));
  --linear-gradient__5: (hsla(191, 100%, 75%, 1), hsla(209, 100%, 61%, 1));
  --linear-gradient__icon: (hsla(198, 100%, 75%, 1), hsla(264, 89%, 68%, 1)); */
  --size-base: 4px;
  --content-width-max: 1220px;
 }

 html {
  font-size: 4px;
 }

 body {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  /* margin-bottom: calc(var(--size-base)*52.75); */
  background-image: url(./assets/svg/BG\ and\ elements.svg);
  /* background-color: black; */
  /* background-color: gray; */
  /* background-color: rgb(88, 86, 84); */
  /* background-position: 0 0; */
  color: var(--white-font);
  height: 100%;
  /* padding-bottom: calc(var(--size-base)*52.75); */
 }
 
.page {
  display: flex;
  flex-direction: column;
  max-width: var(--content-width-max);
  margin: auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  max-width: var(--content-width-max);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white-font);
  margin-top: calc(var(--size-base)*9.25);

}

.nav__link {
  color: var( --white-font);
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.22em;

  font-family: 'montserrat';
  font-weight: 500;
  
  font-size: 3.25rem;

  column-gap: calc(var(--size-base)*6.5);
 

}

.btn_primary {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  height: 37px;
  width: 103px;
  color: var( --white-font);
  font-family: 'montserrat';
  font-weight: 500;

  font-size: 3.25rem;

  border-radius: 10px;
  background-image: linear-gradient(var(--grad-1), var(--grad-2));
}

.btn_primary:active {
  background-image: linear-gradient(var(--grad-3), var(--grad-4));
}

.first-display {
  height: calc(var(--size-base)*116.75);
  width: calc(var(--size-base)*110);
}


.first-display__content {
  display: flex;
  flex-direction: column;
}

.title_h1 {
  font-family: 'montserrat';
  font-weight: 700;
  height: calc(var(--size-base)*36.75);
  width: calc(var(--size-base)*110);
  font-size: 10rem;
  line-height: 1.22em;
  margin-top: calc(var(--size-base)*32.75);
}

.first-display__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*12.5);
  width: calc(var(--size-base)*96.25);
  font-size: 3.75rem;
  line-height: 1.67em;
  margin-top: calc(var(--size-base)*8);
}

.btn_prima {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 212px;
  color: var( --white-font);
  font-family: 'montserrat';
  font-weight: 500;
  line-height: 1.67em;

  font-size: 3.75rem;

  border-radius: 15px;
  background-image: linear-gradient(var(--grad-1), var(--grad-2));
  margin-top: calc(var(--size-base)*14.25)
}

.btn_prima:active {
  background-image: linear-gradient(var(--grad-3), var(--grad-4));
}

.first-display {
  display: flex;
}

.first-display__pict {
  font-family: 'montserrat';
  font-weight: 600;
  line-height: 1.22em;
  font-size: 4.5rem;
}

.one {
  display: flex;
  flex-direction: column;
  height: calc(var(--size-base)*12.25);
  width: calc(var(--size-base)*36.2);
  margin-top: calc(var(--size-base)*43.25);
  margin-left: calc(var(--size-base)*22);
}

.two {
  display: flex;
  flex-direction: column;
  height: calc(var(--size-base)*10.75);
  width: calc(var(--size-base)*35);
  margin-top: calc(var(--size-base)*46.25);
  margin-left: calc(var(--size-base)*54.75);
}

.first-display__bg {
  position: relative;
  top: calc(var(--size-base)*65);
  left: calc(var(--size-base)*(-75));
}

.pass-income {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(var(--size-base)*30.5);

  box-shadow: inset 0 1px 2px hsla(0, 18%, 92%, 0.6);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  z-index: 1;
}

.title-abzac_h1 {
  font-family: 'montserrat';
  font-weight: 700;
  height: calc(var(--size-base)*16.75);
  width: calc(var(--size-base)*120.5);
  font-size: 10rem;
  line-height: 1.68em;
  margin-top: calc(var(--size-base)*24.75);
}

.pass-income__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*6.75);
  /* width: calc(var(--size-base)*239); */
  font-size: 4rem;
  line-height: 1.68em;
  margin-top: calc(var(--size-base)*2.75);
}

/* .pass-income__list {

} */

.card {
  display: flex;
  flex-direction: row-reverse;
  /* height: calc(var(--size-base)*73.25);
  width: calc(var(--size-base)*252); */
  /* justify-content: space-between; */
  /* align-items: end; */
}

.card_direction_reverse {
  display: flex;
  flex-direction: row;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*17);
  width: calc(var(--size-base)*137.75);
  font-size: 6.5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*35.75);
  margin-left: calc(var(--size-base)*24);
}

.card__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*13.5);
  width: calc(var(--size-base)*148.75);
  font-size: 4rem;
  line-height: 1.7em;
  margin-top: calc(var(--size-base)*13);
  margin-left: calc(var(--size-base)*24);
}

.card-one__image {
  width: 279px;
  height: 279px;
  margin-top: calc(var(--size-base)*24.5);
  /* margin-left: calc(var(--size-base)*(-7.5)); */
  position: relative;
  left: -20px;
}

.card-reverse__title {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*25.5);
  width: calc(var(--size-base)*156.5);
  font-size: 6.5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*19);
  /* margin-left: calc(var(--size-base)*28.75); */
}


.card-reverse__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*27);
  width: calc(var(--size-base)*156.5);
  font-size: 4rem;
  line-height: 1.7em;
  margin-top: calc(var(--size-base)*13);
  /* margin-right: calc(var(--size-base)*13); */
}

.card-two__image {
  width: 279px;
  height: 279px;
  margin-top: calc(var(--size-base)*18.75);
  position: relative;
  left: 90px;
}

.card-how__title {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*8.5);
  width: calc(var(--size-base)*58.5);
  font-size: 6.5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*20);
}

.card-how__work {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--size-base)*3.25);
  margin-top: calc(var(--size-base)*16);
}

.how__work {
  width: 299px;
  height: 282px;
  display: flex;
  flex-direction: column;
  background-color: var(--zalivka);
  border-radius: 20px;
  align-items: center;
  /* justify-content: space-around; */
}

.work__card {
  font-family: 'montserrat';
  font-weight: 600;
  /* height: calc(var(--size-base)*8.5); */
  /* width: calc(var(--size-base)*58.5); */
  font-size: 4rem;
  line-height: 1.4em;
  margin-top: calc(var(--size-base)*11.5);
  text-align: center;
}

.work-two__card {
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.4em;
  margin-top: calc(var(--size-base)*8.75);
  text-align: center;
  width: 261px;
  height: 44px;
}

.work-card__descr {
  font-family: 'montserrat';
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.4em;
  margin-top: calc(var(--size-base)*6.25);
  width: 260px;
  height: 40px;
  text-align: center;
}

.work-cardtwo__descr {
  font-family: 'montserrat';
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.4em;
  margin-top: calc(var(--size-base)*3.5);
  width: 260px;
  height: 40px;
  text-align: center;
}

.icona {
  width: 36px;
  height: 36px;
  margin-top: calc(var(--size-base)*14.75);
}

.strela {
  width: 32px;
  height: 32px;
}

.card-two__title {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*8.5);
  width: calc(var(--size-base)*170);
  font-size: 6.5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*20);
  text-align: center;
}

.video-trade {
  margin-top: calc(var(--size-base)*15.7);
  border-radius: 20px;
  margin-bottom: calc(var(--size-base)*25);
}

.publ-trade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(var(--size-base)*35);

  box-shadow: inset 0 1px 2px hsla(0, 0%, 100%, 0.04);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  z-index: 1;
}

/* .pass-income__list {

} */

.title-two_h1 {
  font-family: 'montserrat';
  font-weight: 700;
  height: calc(var(--size-base)*16.75);
  width: calc(var(--size-base)*118.5);
  font-size: 10rem;
  line-height: 1.68em;
  margin-top: calc(var(--size-base)*25.25);
  text-align: center;
}

.passtwo-income__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*13.5);
  width: calc(var(--size-base)*239);
  font-size: 4rem;
  line-height: 1.68em;
  margin-top: calc(var(--size-base)*2.75);
  text-align: center;
}

.card-three__image {
  width: 279px;
  height: 279px;
  margin-top: calc(var(--size-base)*20.1);
  position: relative;
  /* left: -30px; */
}

.card-for__image {
  width: 279px;
  height: 279px;
  margin-top: calc(var(--size-base)*17.75);
  position: relative;
  left: 90px;
}

.card-publ__title {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*25.5);
  width: calc(var(--size-base)*137.75);
  font-size: 6.5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*20.5);
  margin-left: calc(var(--size-base)*38);
}

.card-publ__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*27);
  width: calc(var(--size-base)*148.75);
  font-size: 4rem;
  line-height: 1.7em;
  margin-top: calc(var(--size-base)*12.25);
  margin-left: calc(var(--size-base)*38);
}

.card-reversepupl__title {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*17);
  width: calc(var(--size-base)*156.5);
  font-size: 6.5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*26.25);
  /* margin-left: calc(var(--size-base)*26); */
}

.card-reversepupl__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*27);
  width: calc(var(--size-base)*156.5);
  font-size: 4rem;
  line-height: 1.7em;
  margin-top: calc(var(--size-base)*13);
}

.card-howtwo__title {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*8.5);
  width: calc(var(--size-base)*58.5);
  font-size: 6.5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*21.75);
}

.tg-trade {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--size-base)*246.25);
  width: calc(var(--size-base)*293.5);
  margin-left: calc(var(--size-base)*11);
  margin-bottom: calc(var(--size-base)*52.5);
}

.title-tg {
  font-family: 'montserrat';
  font-weight: 700;
  height: calc(var(--size-base)*16.75);
  width: calc(var(--size-base)*191.5);
  font-size: 10rem;
  line-height: 1.22em;
  margin-top: calc(var(--size-base)*30);
  /* margin-bottom: calc(var(--size-base)*26); */
  /* margin-left: calc(var(--size-base)*56.75); */
  /* justify-content: center; */
  /* align-items: center; */
}

.pass-tg__descr {
  font-family: 'montserrat';
  font-weight: 400;
  height: calc(var(--size-base)*12.5);
  width: calc(var(--size-base)*239);
  font-size: 4rem;
  line-height: 1.7em;
  margin-top: calc(var(--size-base)*2.75);
  text-align: center;
}

.tg-trade__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(var(--size-base)*10.5);
  gap: 50px;
  /* margin-bottom: calc(var(--size-base)*10); */
}

.tg-trade__content {
  flex: 1.5;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 50px;
}

.tg-img {
  height: calc(var(--size-base)*144.25);
  width: calc(var(--size-base)*110);
}

.tg-trade__article {
  width: 316px;
  height: 320px;
  display: flex;
  flex-direction: column;
  background-color: hsla(214, 33%, 18%, 1);
  border-radius: 20px;
  align-items: center;
  /* justify-content: space-between; */
}

.icona-two {
  width: 40px;
  height: 40px;
  margin-top: calc(var(--size-base)*13.5);
}

.tg-trade__card {
  font-family: 'montserrat';
  font-weight: 600;
  height: calc(var(--size-base)*6.5);
  font-size: 5rem;
  line-height: 1.3em;
  margin-top: calc(var(--size-base)*10.5);
  text-align: center;
}

.tg-trade__descr {
  font-family: 'montserrat';
  font-weight: 400;
  width: calc(var(--size-base)*67);
  font-size: 4rem;
  line-height: 1.7em;
  margin-top: calc(var(--size-base)*5.75);
  text-align: center;
}

.tg-trade__actions {
  display: flex;
  height: 55px;
  width: 100%;
  margin-top: calc(var(--size-base)*12.5);
  margin-left: calc(var(--size-base)*320);
}

.btn-tg__trade {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 365px;
  color: var( --white-font);
  font-family: 'montserrat';
  font-weight: 500;
  line-height: 1.67em;

  font-size: 3.75rem;

  border-radius: 15px;
  background-image: linear-gradient(var(--grad-1), var(--grad-2));
  /* margin-top: calc(var(--size-base)*12.5); */
  /* margin-left: calc(var(--size-base)*120); */
}

.btn-tg__trade:active {
  background-image: linear-gradient(var(--grad-3), var(--grad-4));
}

.footer__actions {
  height: 52px;
  width: 52px;
  margin-top: calc(var(--size-base)*25);
  margin-left: calc(var(--size-base)*280);
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  background-color: hsla(230, 32%, 13%, 1);
  width: 100%;
  height: calc(var(--size-base)*52.75);
}

.footer__logo {
  height: calc(var(--size-base)*3.8);
  width: calc(var(--size-base)*36.75);
  margin-top: calc(var(--size-base)*18.75);
  margin-left: calc(var(--size-base)*87.75);
}

.logo__footer {
  font-family: 'montserrat';
  font-weight: 400;
  width: calc(var(--size-base)*58.75);
  font-size: 3rem;
  line-height: 1.2em;
  margin-top: calc(var(--size-base)*3.94);
  margin-bottom: calc(var(--size-base)*18.75);
  text-align: left;
  margin-left: calc(var(--size-base)*87.75);
}

.nav-foot {
  height: calc(var(--size-base)*4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: calc(var(--size-base)*18.75);
  margin-left: calc(var(--size-base)*68.75);
  margin-right: calc(var(--size-base)*87.5);
  /* align-items: center; */
  line-height: 1.22em;

  font-family: 'montserrat';
  font-weight: 500;
  
  font-size: 3.25rem;

  column-gap: calc(var(--size-base)*10);
  row-gap: calc(var(--size-base)*7.25);
}


.nav-foot__link {
  color: var( --white-font);
  text-decoration: none;
}