@media (max-width: 2560px) {
    .page {
       
        /* overflow: hidden; */
    }
    .header__burger-btn {
        display: none;
    }
  }
@media (max-width: 1440px) {
    .page {
       
        /* overflow: hidden; */
    }
    .header__burger-btn {
        display: none;
    }
}


@media (max-width: 1200px) {
    .page {
       
        /* overflow: hidden; */
    }
    .header__burger-btn {
        display: none;
    }
  }
/*   
@media (max-width: 1000px) {
    .page {
        width: 768px;
        overflow: hidden;
    }

    .title_h1 {
        font-size: 6.75rem;

    }
    .nav {
        display: none;

    }
    .header__burger-btn {
        display: none;
    }
  }  */
  
@media (max-width: 768px) {
    .page {
        /* overflow: hidden; */
        width: 730px;
    }

    .header {
        height: calc(var(--size-base)*9.25);
        width: calc(var(--size-base)*182);
    }

    .title_h1 {
        font-size: 6.75rem;
        height: calc(var(--size-base)*25.25);
        width: calc(var(--size-base)*77.5);
        margin-top: calc(var(--size-base)*21.25);
        line-height: 100%;

    }
    .first-display__descr {
        height: calc(var(--size-base)*23);
        width: calc(var(--size-base)*72.5);
        font-size: 3.5rem;
        line-height: 167%;
        margin-top: calc(var(--size-base)*6);
    }

    .btn_prima {
        margin-top: calc(var(--size-base)*6);
    }

    .nav {
        display: block;
        background-color: black;
        position: absolute;
        left: calc(var(--size-base)*(-70));
        top: calc(var(--size-base)*10);
        margin: 0;
        width: calc(var(--size-base)*70);
        /* height: calc(var(--size-base)*50); */
        transition: transform .5s;
    }
    /* .nav a{
        padding: calc(var(--size-base)*2);
        display: block; */

    .nav__link {
        display: block;
        padding: 10px 0;
        margin: 10px;
    
    }
    .header.open .nav {
        transform: translateX(100%);
    }




    .header__burger-btn {
        display: block;
        height: calc(var(--size-base)*6);
        width: calc(var(--size-base)*6);
        margin-right: calc(var(--size-base)*95);
        /* background-image: url(./assets/svg/Menu.svg); */
        background: none;
        z-index: 1;
        border: none;
        padding: 0; 
    }

    /* .header__burger-btn::after {
         background-image: url(./assets/svg/Close.svg);
    } */

    .first-display__pict {
        font-family: 'montserrat';
        font-weight: 600;
        line-height: 1em;
        font-size: 3rem;
    }
      
    .one {
        height: calc(var(--size-base)*8.4);
        width: calc(var(--size-base)*25);
        margin-top: calc(var(--size-base)*25.75);
        margin-left: calc(var(--size-base)*2);
    }
      
    .two {
        height: calc(var(--size-base)*7.5);
        width: calc(var(--size-base)*24);
        margin-top: calc(var(--size-base)*27.8);
        margin-left: calc(var(--size-base)*37.6);
    }
    
    .first-display__bg {
        position: relative;
        top: calc(var(--size-base)*35);
        left: calc(var(--size-base)*(-55));
        height: calc(var(--size-base)*91);
        width: calc(var(--size-base)*32.75);
    }
    
    .first-display {
        height: calc(var(--size-base)*90);
        width: calc(var(--size-base)*77.5);
    }

    .pass-income {
        margin-top: calc(var(--size-base)*13);
    }

    .title-abzac_h1 {
        height: calc(var(--size-base)*13.5);
        width: calc(var(--size-base)*96.5);
        font-size: 8rem;
        line-height: 1.67em;
        margin-top: calc(var(--size-base)*15);
    }
    
    .pass-income__descr {
        height: calc(var(--size-base)*12);
        /* width: calc(var(--size-base)*239); */
        font-size: 4rem;
        line-height: 1.68em;
        margin-top: calc(var(--size-base)*3.5);
        text-align: center;
    }

    .card__title {
        height: calc(var(--size-base)*14.5);
        width: calc(var(--size-base)*114.25);
        font-size: 5.5rem;
        line-height: 1.3em;
        margin-top: calc(var(--size-base)*8.5);
        margin-right: calc(var(--size-base)*5);
        margin-left: calc(var(--size-base)*1);
    }

    .card__descr {
        height: calc(var(--size-base)*20.25);
        width: calc(var(--size-base)*114);
        font-size: 4rem;
        line-height: 1.7em;
        margin-top: calc(var(--size-base)*15.5);
        margin-left: calc(var(--size-base)*1);
        margin-right: calc(var(--size-base)*5);
    }

    .card-one__image {
        width: 191px;
        height: 191px;
        margin-top: calc(var(--size-base)*11);
        /* margin-left: calc(var(--size-base)*(-7.5)); */
        /* position: relative; */
        /* left: -50px; */
    }

    .card-reverse__title {
        height: calc(var(--size-base)*21.75);
        width: calc(var(--size-base)*114);
        font-size: 5.5rem;
        line-height: 1.3em;
        margin-top: calc(var(--size-base)*10);
        /* margin-left: calc(var(--size-base)*28.75); */
    }

    .card-reverse__descr {
        height: calc(var(--size-base)*33.75);
        width: calc(var(--size-base)*114);
        font-size: 4rem;
        line-height: 1.7em;
        margin-top: calc(var(--size-base)*15.5);
        /* margin-right: calc(var(--size-base)*13); */
    }

    .card-two__image {
        width: 191px;
        height: 191px;
        margin-top: calc(var(--size-base)*12.5);
        position: relative;
        left: 30px;
    }

    .card-how__title {
        height: calc(var(--size-base)*8.5);
        width: calc(var(--size-base)*58.5);
        font-size: 6.5rem;
        line-height: 1.3em;
        margin-top: calc(var(--size-base)*15);
    }

    .card-how__work {
        gap: calc(var(--size-base)*0.75);
    }

    .how__work {
        width: 201px;
        height: 279px;
    }

    .icona {
        margin-top: calc(var(--size-base)*14);
      }

    .work__card {
        font-size: 3.75rem;
    }

    .work-card__descr {
        font-size: 3.25rem;
        width: calc(var(--size-base)*45);
        height: calc(var(--size-base)*9);
    }

    .work-two__card {
        font-size: 3.75rem;
        width: calc(var(--size-base)*45);
        height: calc(var(--size-base)*10.5);
    }

    .work-cardtwo__descr {
        font-size: 3.25rem;
        margin-top: calc(var(--size-base)*4);
        width: calc(var(--size-base)*45);
        height: calc(var(--size-base)*15);
    }

    .card-two__title {
        margin-top: calc(var(--size-base)*15);
    }

    .video-trade {
        margin-top: calc(var(--size-base)*15.8);
        margin-bottom: calc(var(--size-base)*15);
        width: calc(var(--size-base)*170);
        height: calc(var(--size-base)*98);
    }

    .publ-trade {
        margin-top: calc(var(--size-base)*15);
    }

    .title-two_h1 {
        height: calc(var(--size-base)*13.5);
        width: calc(var(--size-base)*95);
        font-size: 8rem;
        margin-top: calc(var(--size-base)*15);
    }

    .passtwo-income__descr {
        height: calc(var(--size-base)*20.25);
        width: calc(var(--size-base)*164.5);
        margin-top: calc(var(--size-base)*3.5);
    }

    .card-three__image {
        width: 205px;
        height: 185px;
        margin-top: calc(var(--size-base)*8.75);
        position: relative;
        left: 200px;
    }

    .card-for__image {
        width: 203px;
        height: 205px;
        margin-top: calc(var(--size-base)*12.7);
        position: relative;
        left: 30px;
    }

    .card-publ__title {
        height: calc(var(--size-base)*21.75);
        width: calc(var(--size-base)*111.5);
        font-size: 5.5rem;
        margin-top: calc(var(--size-base)*8.75);
        margin-left: calc(var(--size-base)*60);
    }

    .card-publ__descr {
        height: calc(var(--size-base)*40.5);
        width: calc(var(--size-base)*110);
        margin-top: calc(var(--size-base)*16);
        margin-left: calc(var(--size-base)*60);
    }

    .card-reversepupl__title {
        height: calc(var(--size-base)*14.5);
        width: calc(var(--size-base)*114);
        font-size: 5.5rem;
        margin-top: calc(var(--size-base)*10);
        margin-left: calc(var(--size-base)*5);
    }

    .card-reversepupl__descr {
        height: calc(var(--size-base)*33.75);
        width: calc(var(--size-base)*114);
        margin-top: calc(var(--size-base)*15.5);
        margin-left: calc(var(--size-base)*5);
    }

    .card-howtwo__title {
        margin-top: calc(var(--size-base)*15);
    }
    
    .tg-trade {
        height: calc(var(--size-base)*364);
        width: calc(var(--size-base)*170.5);
        margin-left: calc(var(--size-base)*7);
        margin-bottom: calc(var(--size-base)*52.5);
    }

    .title-tg {
        height: calc(var(--size-base)*13.5);
        width: calc(var(--size-base)*153.25);
        font-size: 8rem;
        line-height: 1.67em;
        margin-top: calc(var(--size-base)*15);
    }

    .pass-tg__descr {
        height: calc(var(--size-base)*18.75);
        width: calc(var(--size-base)*157);
        font-size: 3.75rem;
        margin-top: calc(var(--size-base)*2.75);
    }

    .tg-trade__cards {
        display: flex;
        flex-direction: column;
        margin-top: calc(var(--size-base)*7.5);
    }

    .tg-trade__art {
        height: calc(var(--size-base)*125);
        width: calc(var(--size-base)*90.75);
    }

    .tg-trade__actions {
        margin-top: calc(var(--size-base)*10);
        margin-left: 0;
        justify-content: center;
    }

    .footer__actions {
        margin-top: calc(var(--size-base)*7.75);
        margin-left: calc(var(--size-base)*173.25);
    }

    .footer__logo {
        margin-top: calc(var(--size-base)*12.5);
        margin-left: calc(var(--size-base)*5.25);
    }

    .logo__footer {
        width: calc(var(--size-base)*58.75);
        height: calc(var(--size-base)*7.5);
        font-size: 3rem;
        line-height: 1em;
        margin-top: calc(var(--size-base)*3.94);
        margin-bottom: calc(var(--size-base)*25);
        margin-left: calc(var(--size-base)*5.25);
    }

    .footer {
        display: block;
        flex-direction: none;
        justify-content: none;
        background-color: hsla(230, 32%, 13%, 1);
        width: 100%;
        height: calc(var(--size-base)*52.75);
    }

    .nav-foot {
        display: block;
        flex-direction: none;
        flex-wrap: none;
        justify-content: none;
        margin-top: calc(var(--size-base)*0);
        margin-left: calc(var(--size-base)*0);
        margin-right: calc(var(--size-base)*0);
        column-gap: calc(var(--size-base)*0);
        row-gap: calc(var(--size-base)*0);
    }
    




      
      








}
  
/* @media (max-width: 480px) {

    .nav {
      display: none;

    }
} */